<h1><%= @topic.title %></h1>

<% if @topic.discussions.any? %>
  <h4>Here are the discussions for this topic</h4>
  <ul>
    <% @topic.discussions.each do |discussion| %>
      <li>
        <%= link_to discussion.description, topic_discussion_path(@topic, discussion) %> |
        <%= link_to "Edit", edit_topic_discussion_path(@topic, discussion) %> |
        <%= link_to "Delete", topic_discussion_path(@topic, discussion),
          :data => {:confirm => "Are you sure?",
          :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no discussions yet!</p>
<% end %>

<p><%= link_to "Add a discussion", new_topic_discussion_path(@topic) %></p>
<p><%= link_to "Return to topics", topics_path %></p>
